CHECK_URL=https://ets.sanjesh.org/Agreement.aspx

# SMTP Mail Server (Stalwart)
SMTP_HOST=mail.example.ir
SMTP_USER=username
SMTP_PASSWORD=your_password
SMTP_PORT=587
SMTP_FROM=username@example.ir
CHECK_INTERVAL_HOURS=1

NOTIFY_EMAIL=your_notify_email@gmail.com
